<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pzj.technicalcommunity.mapper.TcChatMapper">
    <select id="listMyChat" parameterType="Integer" resultType="com.pzj.technicalcommunity.entity.TcChatDTO">
        SELECT *
        FROM tc_chat
                 JOIN tc_user ON (tc_chat.chat_send = tc_user.user_id OR tc_chat.chat_receive = tc_user.user_id)
        WHERE (tc_chat.chat_send = #{userId} OR tc_chat.chat_receive = #{userId}) AND tc_user.user_id != #{userId}
        ORDER BY chat_unread DESC,chat_time DESC
    </select>
</mapper>
